body{background-color: green;}

.CardsTable-card{
    padding-top: 200px;
}

.CardTable button {
    background-color: rgb(66, 58, 46);
    border: none;
    border-radius: 15px;
    height: 50px;
    width: 100px;
    outline: none;
}

